<div class="row">
  <div class="col-sm-12">
    <h3>Detectar cara en una imagen con expresiones</h3>
    <canvas #caraConExpresiones width="900" height="400"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Detectar cara en una imagen con expresiones y dibuja la expresion</h3>
    <canvas #caraConExpresionesDibujar width="600" height="300"></canvas>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div><video #video id="video" width="720" height="560" autoplay muted></video></div>
    <div><button id="snap" (click)="capture()">Snap Photo</button></div>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <!-- <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <ul>
      <li *ngFor="let c of captures">
        <img src="{{ c }}" height="50" />
      </li>
    </ul> -->
  </div>
</div> 
<!-- <div id="app">
  <div><video #video id="video" width="640" height="480" autoplay></video></div>
  <div><button id="snap" (click)="capture()">Snap Photo</button></div>
  <canvas #canvas id="canvas" width="640" height="480"></canvas>
  <ul>
    <li *ngFor="let c of captures">
      <img src="{{ c }}" height="50" />
    </li>
  </ul>
</div> -->
